apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guestbook-frontend
  template:
    metadata:
      labels:
        app: guestbook-frontend
    spec:
      containers:
      - name: frontend-container
        image: guestbook-frontend:v2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        env:
          - name: DB_HOST
            
            value: "postgres-service" 
          - name: DB_NAME
            value: "guestbook" 
          - name: DB_USER
            value: "admin" 
          - name: DB_PASS 
            valueFrom:
              secretKeyRef:
                name: postgres-secret    
                key: POSTGRES_PASSWORD 